@import "tailwindcss";
@plugin "daisyui";

.zalando-sans {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 120;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

input, textarea {
    @apply focus:outline-none bg-white/10 border-2 border-white/10 p-4 text-4xl rounded-2xl text-white
}

body {
    @apply bg-zinc-800
}

span {
    @apply font-serif text-3xl 
}

/* SPLIDE CAROUSEL          */
.slide {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  backface-visibility: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.splide__slide {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* END                     */

/* CHATGPT                 */ 
html, body {
  overflow: auto;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  -webkit-overflow-scrolling: touch;
}

/* END                    */

